extends layout

block content
  h1= Tasks
  p Welcome to #{title}
  h2 See tasks:
  table
    tr 
      th Start Date
      th Title
      th Description
      th Deadline
      th Status

    each task in tasks
      tr
        td #{task.startDate}
        td #{task.title}
        td #{task.description}
        td #{task.deadline}
        td #{task.status}
        td
          a(href="#" + task._id)
            button Complete
        td 
          a(href="#" + task._id)
                Button Remove