extends layout

block content
  h1= Tasks
  p Welcome to #{title}
  h2 See tasks:
  each task in tasks
        div
          p Title: #{task.title}
          p Description: #{task.description}
          p Start date: #{task.startDate}
          p Deadline: #{task.deadline}
          p Status: #{task.status}
